// Padding Scale (in pixels)
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 24px;
$padding-2xl: 32px;
$padding-3xl: 40px;
$padding-4xl: 48px;
$padding-5xl: 64px;
$padding-6xl: 80px;
$padding-7xl: 96px;
$padding-8xl: 126px;